.card{
    display: flex;
    user-select: none;
}
.quadrado{
    user-select: none;
    margin-top: 6%;
    margin-left: 10%;
    background-color: rgba(219, 68, 68, 1);
    color: whitesmoke;
    font-size: 14px;
    width: 1.7%;
    height: 2.7rem;
    border-radius: 16%;
}
.texto{
    align-self: baseline;
    margin-top: 7%;
    user-select: none;
    font-family: "Inter";
    font-size: 100%;
    margin-left: 1%;
    height: 20%;
    font-weight: bolder;
    color: rgba(219, 68, 68, 1);
}